@font-face {
    font-family: 'Georgia-Regular';
    src: url("../../assets/fonts/georgia-regular.ttf");
}

@font-face {
    font-family: 'Arial-Regular';
    src: url("../../assets/fonts/arial-regular.ttf");
}

.container {
    width: 1280px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    height: 120px;
    position: sticky;
    top: 0;
    background-color: white;
}

.header-wrapper-pets {
    width: 1280px;
    height: 120px;
    display: flex;
}

.title-name-pets {
    font-family: 'Georgia-Regular';
    color: #545454;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    margin-top: -2px;
}

.title-describe-pets {
    font-family: 'Arial-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #292929;
    margin-top: 9px;
    margin-left: 5px;
}

.logo-pets {
    display: flex;
    width: 100%;
    margin: 33px 40px 57px 40px;
    justify-content: space-between;
}

.header-nav-pets {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    height: 53px;
}
.nav-list-pets {
    display: flex;
    justify-content: space-between;
    width: 443px;
}

.nav-link-pets {
    font-family: 'Arial-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #545454;
    transition: 0.5s;
}

.nav-link-active-pets {
    font-family: 'Arial-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    transition: 0.5s;
    color: #292929;
}

.nav-link-pets:hover {
    color: #292929;
    transition: 0.5s;
}

.nav-item-active-pets {
    color: #292929;
    border-bottom: 3px #F1CDB3 solid;
}

.pets-pets{
    background: #F6F6F6;
    display: flex;
    justify-content: center;
}

.pets-content-pets{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 1162px;
    margin: 80px 40px 100px; 
}

.pets-content-heading-pets{
    width: 400px;
    height: 90px;
}

.pets-content-heading-text-pets{
    font-family: 'Georgia-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.pets-content-cards_container-pets{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1200px;
    height: 930px;
}

.card-pets{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    transition: 0.5s;
    border-radius: 9px;
    margin: 15px 0px;
}

.card-pets:hover {
    background-color: #FFFFFF;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    transition: 0.5s;
    cursor: pointer;
}

.card-pets:hover :last-child.pets-card-button-pets {
    background-color: #FDDCC4;
    transition: 0.5s;
}

.card-img-pets{
    width: 270px;
    height: 270px;
}

.pets-card-title-pets{
    font-family: 'Georgia-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0px;
    margin-top: 28px;
}

.pets-card-button-pets {
    width: 187px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    margin: 30px auto;
    font-family: 'Georgia-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #292929;
    background-color: transparent;
    transition: 0.5s;
}

.pets-content-button-pets{
    height: 52px;
    width: 261px;
    border-radius: 100px;
    background-color: #F1CDB3;
    font-family: 'Georgia-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #292929;
    border: none;
}

.pets-content-navigation-pets{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 340px;
    height: 52px;
}

.button_paginator-start-pets {
    border: 2px solid #CDCDCD;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    background-image: url(../../assets/icons/arrow-start.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
}

.button_paginator-start-pets:hover {
    cursor: default;
}

.button_paginator-back-pets {
    border: 2px solid #CDCDCD;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    background-image: url(../../assets/icons/arrow-back.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
}

.button_paginator-back-pets:hover {
    cursor: default;
}

.button_paginator-forward-pets {
    border: 2px solid #F1CDB3;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    background-image: url(../../assets/icons/arrow-forward.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
}

.button_paginator-forward-pets:hover {
    background-color: #FDDCC4;
    transition: 0.5s;
}

.button_paginator-end-pets {
    border: 2px solid #F1CDB3;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    background-image: url(../../assets/icons/arrow-end.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
}

.button_paginator-end-pets:hover {
    background-color: #FDDCC4;
    transition: 0.5s;
}

.number-slide-pets {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #292929;
}

.number-slide-pets:hover {
    cursor: default;
}

.footer-pets{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 350px;    
    background: url(../../assets/img/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20
}

.footer-content-pets{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 1200px;
    height: 310px;
}

.footer-content-contacts-pets{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
    height: 235px;
    margin-top: 15px;   
}

.footer-content-contacts-title-pets{
    font-family: 'Georgia-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.mail-pets{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: -3px;     
}

.footer-content-contacts-text-pets {
    font-family: 'Georgia-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%; 
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin-bottom: 2px;
}

.mail-pets img {
    margin-right: 20px;
}

.phone-pets{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: -4px;
}

.phone-pets img {
    margin-right: 20px;
}

.footer-content-locations-pets{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 295px;
    height: 235px;
    margin-top: 15px;
    margin-left: -10px;
}

.boston-pets{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.boston-pets img {
    margin-right: 20px;
}

.london-pets{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.london-pets img {
    margin-right: 20px;
}

.footer-puppy-img{
    width: 300px;
    height: 310px;
}





